/* Styles for hero section */

.hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroLogo {
    width: 200px;
    display: block;
}

.inputField {
    width: 50%;
    margin: 2rem auto 0;
}

@media screen and (max-width: 789px) {
    .inputField {
        width: 80%;
    }
}