/* results style */

.container {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 85px;
    background: var(--background-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.heroLogo {
    width: 180px;
    cursor: pointer;
}

.inputField {
    width: 40%;
}

.navIcon {
    display: none;
}

.languages {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.languages p {
    width: 50%;
    height: 100%;
    padding: 2rem;
    border-bottom: 5px solid inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.languages p.active {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid var(--green-color);

}

.bread {
    padding: 2% 8%;
}

.result {
    width: 50%;
    margin-top: 3rem;
    margin-left: 8%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 13px 5px;
}

.result_header p {
    font-weight: bold;
    margin-top: 1rem;
}

.result_body p {
    margin-bottom: 0.5rem;
}


.result_body a {
    color: var(--blue-color);
}

.result_body a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {

    .header {
        padding: 1.5rem;
    }

    .languages {
        display: none;
    }

    .inputField {
        width: 50%;
    }

    .result {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        padding: 1.5rem;

    }
}

@media screen and (max-width: 500px) {
    .inputField {
        display: none;
    }

    .navIcon {
        display: block;
        font-size: 1.5rem;
        color: #fff;
    }
}